operator
time
webbrowser
numpy 
pyautogui
pyttsx3
requests
speech_recognition 
datetime
os
cv2
random
requests 
wikipedia
pywhatkit 
smtplib
sys
pyjokes
geopy
geocoder
pywhatkit
selenium 
